@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-base
}

body, html, #root{
  height: 100%;
}

.general-width{
@apply max-w-[90rem] mx-auto
}

.general-padding{
  @apply xlaptop:px-10 md:px-7 px-5
}

.bg-base{
  @apply bg-white dark:bg-dark dark:text-white
}

.section-heading{
  @apply xxmd:text-3xl text-2xl font-bold mb-3
}

.card-heading{
  @apply xmd:text-xl text-lg font-bold
}

.bg-pale-sky{
  @apply dark:bg-secondary/10
}

@keyframes slide {
  0%, 100% {
    transform: translateX(-100%);
  }
  33% {
    transform: translateX(0);
  }
  66% {
    transform: translateX(100%);
  }
}

